    <div id="container">
        <div class="box-login">
            <div class="box">
                <h2>Curso Online</h2>

                <form class="form-group" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                    <input formControlName="email"
                        type="email" name="email" id="email" placeholder="email">

                    <input formControlName="password"
                        type="password" name="password" id="password" placeholder="password">
                    
                    <a href="#">
                        <p>Esqueceu a sua senha?</p>
                    </a>

                    <button type="submit">Login</button>
                
                    <a routerLink="/register">
                        <p>Criar uma conta</p>
                    </a>
                </form> 
            </div>
        </div>
    </div>
